.socials {
  @extend %between;

  width: 92vw;
  height: 3rem;
  position: fixed;
  bottom: 3.3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: z('socials');

  @include media('<phone') {
    width: 68.8rem;
  }
}

.socials__links {
  @extend %between;

  width: 11.7rem;
  height: 100%;
  padding: 0.745rem 1.74rem;
  transition: all .2s ease-in-out;

  a{
    fill: $color-white;
  }
}
.social__link__facebook {
  width: 0.8rem;
  height: 1.5rem;
}
.social__link__twitter {
  width: 1.86rem;
  height: 1.5rem;
}
.social__link__instagram {
  width: 1.5rem;
  height: 1.5rem;
}
.get__in__touch {
  @extend %center;

  width: 11.7rem;
  height: 100%;
  font-family: $font-candara-bold;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-transform: capitalize;
  text-decoration: underline;
  transition: all .2s ease-in-out .2s;
  position: relative;

  .link, .year {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: all .2s ease-in-out .2s;
  }
  .year {
    display: none;
  }
}
.bottom .get__in__touch{
  .link{
    display: none;
  }
  .year {
    display: inline-block;
    span{
      padding-left: 0.75rem ;
    }
  }
}
.socials.hide{
  .socials__links, .get__in__touch{
  transform: translateY(100%);
  opacity: 0;
  display: none;
  }

}
