$color-black: #000;
$color-grey: #535050;
$color-bg: #222222;
$color-white : #FFFFFF;
$color-light-white : #F9F9F9;
$color-header: rgba(96,94,94,0.161);

$font-candara-regular: 'Candara';
$font-candara-bold: 'Candara';
$font-amoret-sans: 'The Amoret Collection Sans';
$font-fahkwang-regular: 'Fahkwang';
$font-dm-sans-regular: 'DM Sans';
$font-moche-light: 'Moche';
// $font-suisse-bp: 'suisse BP';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ('cursor','navigation', 'preloader', 'overlay','socials', 'content', );
