block variables
doctype html
html(class=isDesktop ? "desktop" : isTablet ? 'tablet' : isPhone ? 'phone' : "" lang="en")
  head
    include head
  body.no-scroll
    include preloader
    include navigation
    //- include menu
    include cursor
    include socials
    //- include overlay
    include contact-form

    #content.content(data-template=template)
      block content
        span no content provided

    include scripts
