.gallery {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: visible;
  padding-bottom: 8vh;
   @include media('<phone') {
     width: 92%;
  }

}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  align-self: flex-start;
  justify-self: flex-start;
}
.center .col {
  align-self: center;
}

.col:nth-child(1), .col:nth-child(3) {
  align-self: flex-end;
  justify-self: flex-end;
}
.center .col:nth-child(1), .center .col:nth-child(3) {
  align-self: center;
  justify-self: flex-end;
}

.column__item {
  width: 32vw * 0.75;
  height: 32vw;
  margin: 8vh 1vw 0;
  overflow: hidden;
  cursor: pointer;
  transition: all, 2s, ease-in-out .4s;

  &:hover {
    transform: scale(0.9);

    .column__item-img {
      transform: scale(1.5);
    }
  }
  @include media('<phone') {
    width: 100%;
    height: 48rem;
    padding: 6vw 1.5vw;
    margin: 0;
  }
}
.column__item.pointer {
  pointer-events: none;
}
.column__item-img {
  width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 20%;
  object-fit: cover;
	backface-visibility: hidden;
  transition: all, 2s, ease-in-out;
}

.service__nav{
    @extend %center;
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 8rem;
    z-index: 2;
    background: linear-gradient(#222 0%, rgba(34, 34, 34, 0.48) 100%);

    // &__bg {
    //   @extend %cover;
    // }
    &__items {
      @extend %between;
      width: 92%;
      font-family: $font-amoret-sans;
      font-size: 1.2rem;
      a {
        @extend %link--hidden;
      }
      span {
        display: inline-block;
        height: 1.5rem;
      }
      .filters {
        @extend %between;
        width:26rem;
      }
    }
  }


  .contentimagepage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    left: 0;
    top: 0;
    background: linear-gradient(#222 0%, rgba(34, 34, 34, 0.7) 100%);
    z-index: -1;
    transition: all 0.3s linear;
    opacity: 0;

    &.open {
      opacity: 1;
      z-index: 999;
    }

    &__wrapper {
      width: 85%;
      max-width: 140rem;
      height: 85%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  span{
    background: none;
    position: absolute;
    top: 7.5%;
    right: 5%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;

    &::before, &::after {
      content: "";
      position: absolute;
      top: 1.8rem;
      left: 0;
      right: 0;
      height: 0.2rem;
      background: $color-white;
      border-radius: 0.4rem;
      transform: rotate(-45deg);
    }
    &::before {
      transform: rotate(45deg);
    }
  }

  .video-container {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.none{
      display: none;
    }
    .video {
      width: 100%;
      height: 100%;
    }
  }
  }

.contentpage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  left: 0;
  top: 0;
  transition: $ease-in-out;


  .contentpage__wrapper {
    width: 70%;
    max-width: 144rem;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10rem;

    img{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

    .contentpage__main__item {
      width: 100%;
      height: 80%;
      overflow: hidden;
      cursor: pointer;
    }




    .contentpage__nav {
      display: flex;
      align-items: center;
      width: 90%;
      height: 7rem;
    }
    .contentpage__nav-items {
      width: 92%;
      height: 100%;
      overflow: hidden;
      // margin: 0 3rem;
      position: relative;

      &__wrapper {
        // @extend %between;
        position: absolute;
        left: 0;
        right: 0;
        width: 500%;
        height: 100%;
        display: flex;
        gap: 0.8rem;
        transition: all 200ms ease-out;
      }
    }
    .contentpage__nav-item {
      width: 6.5rem;
      height: 100%;
      overflow: hidden;
      &.remaining-item{
        // transform: translateY(100%);
      }
    }
    .nav__arrow {
      &__left {
        margin-right: 3rem;
      }
      &__right {
        margin-left: 3rem;
      }
    }
    .nav__arrow__left, .nav__arrow__right {
      // width: 0.7rem;
      // height: 1rem;
      width: 2rem;
      height: 2rem;
      // border: 2px white solid;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      svg {
        transform: matrix(1,0,0,1,0,0);
        stroke: $color-light-white;
        stroke-linecap: round;
        fill: transparent;
        display: inline-block;
        width: 80%;
        height: 80%;
      }
    }
  }
  .back-button {
    left: 7%;
    width: 4.5%;
    height: 5%;
    display: flex;
    position: absolute;
    top: 18rem;
    cursor: pointer;
    transform: matrix(1,0,0,1,0,0);

    @include media('<phone') {
      width: 7rem;
      height: 2rem;
      left: 30rem;
  }
    path {
      fill: transparent;
      stroke: $color-light-white;
      stroke-width: 0.1rem;
      stroke-linecap: butt;
    }
  }
  .selected-item {
    border: 0.02rem $color-light-white solid;
    padding: 0.5rem;
  }

  .modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: -1;
  transition: $ease-in-out;
  opacity: 0;
  min-height: 100vh;
  overflow: scroll;
}



    .play-button-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: auto;
      pointer-events: none;
      &.none{
        display: none;
      }
      #circle-play-b {
        cursor: pointer;
        pointer-events: auto;

        svg {
          width: 100px;
          height: 100px;
          fill: #fff;
          stroke: #fff;
          cursor: pointer;
          background-color: rgba(black, 0.2);
          border-radius: 50%;
          opacity: 0.9;
        }
      }
}

}
